html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    color: $grayishBlue;
    font-weight: 300;
    line-height: 1.3;
    font-size: 0.875rem;
    overflow-x: hidden
}

ul,
li {
    list-style: none;

}

a {
    text-decoration: none;
}

.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &--pall {
        padding: 2.375rem 1.5rem;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-ai-s {
        align-items: flex-start;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;

    @include breakpoint-up(medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

button {
    position: relative;
    display: inline-block;
    position: relative;
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.15;
    color: $darkBlue;
    letter-spacing: -0.08rem;
    margin: 1rem 0;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.225rem;
}

p {
    font-size: 1.125rem;
    line-height: 1.4;
}

.section {
    &__text {
        @include breakpoint-up(large) {
            text-align: left;
            margin-top: 4rem;
            margin-bottom: 4rem;
            width: 60%;
        }
    }
}

.overlay {
    position: fixed;
    background: rgb(45, 49, 77);
    background: linear-gradient(180deg, rgba(45, 49, 77, 1) 0%, rgba(243, 244, 246, 1) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.button {
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;


    &--link {
        color: white;
        font-weight: 400;
        background: $limeGreen;
        background: linear-gradient(90deg, $limeGreen, $brightCyan, $limeGreen);
        background-size: 300%;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &--glow {
        animation: glow 6s linear infinite;
    }
}

@keyframes glow {
    to {
        background-position: 300%;
    }

}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}