.header {
    position: relative;


    &__container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: $white;
    }

    &--active {
        z-index: 2;
        animation: fadeIn 0.4s forwards;
    }
}

.menu {
    &__item {
        margin: 0 1.25rem;
    }

    &__link {
        position: relative;
        color: $grayishBlue;
        padding: 0.1rem 0.5rem;
        transition: color 300ms ease-in;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: -30px;
            background: linear-gradient(90deg, $limeGreen, $brightCyan, $limeGreen);
            transition: opacity 300ms ease-in;
            opacity: 0;
        }

        &:hover {
            color: $darkBlue;

            &::before {
                opacity: 1;
            }
        }
    }
}

.mobile-menu {
    background-color: $white;
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);

    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;

    ul {
        flex-direction: column;
    }

    li {
        padding: 1rem;
    }

    a {
        font-weight: 400;
        color: $darkBlue;
    }
}