html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  color: #9698a6;
  font-weight: 300;
  line-height: 1.3;
  font-size: 0.875rem;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding: 2.375rem 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-s {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

button {
  background: transparent;
  position: relative;
  display: inline-block;
  position: relative;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.15;
  color: #2d314d;
  letter-spacing: -0.08rem;
  margin: 1rem 0;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.225rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.4;
}

.js-overlay {
  position: fixed;
  background: #2d314d;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#f3f4f6));
  background: linear-gradient(180deg, #2d314d 0%, #f3f4f6 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.js-overlay--active {
  display: block;
}

@media (min-width: 64em) {
  .section__text {
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 60%;
  }
}

.button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
}

.button--link {
  color: white;
  font-weight: 400;
  background: #31d35c;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(#2bb7da), to(#31d35c));
  background: linear-gradient(90deg, #31d35c, #2bb7da, #31d35c);
  background-size: 300%;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.button--link:hover {
  opacity: 0.8;
}

.button--glow {
  -webkit-animation: glow 6s linear infinite;
          animation: glow 6s linear infinite;
}

.hamburger {
  padding: 1rem;
}

.hamburger:hover:not(.hamburger--active) .hamburger__icon::after {
  -webkit-transform: translateX(-6px) translateY(-6px);
          transform: translateX(-6px) translateY(-6px);
}

.hamburger:hover:not(.hamburger--active) .hamburger__icon::before {
  -webkit-transform: translateX(6px) translateY(6px);
          transform: translateX(6px) translateY(6px);
}

.hamburger--active .hamburger__icon {
  background-color: transparent;
}

.hamburger--active .hamburger__icon::before {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.hamburger--active .hamburger__icon::after {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.hamburger__icon {
  position: relative;
  -webkit-transition: background-color .1s .2s ease-in-out;
  transition: background-color .1s .2s ease-in-out;
  width: 26px;
  height: 1px;
  position: relative;
  display: block;
  background-color: #2d314d;
}

.hamburger__icon::after, .hamburger__icon::before {
  content: '';
  width: 26px;
  height: 1px;
  position: relative;
  display: block;
  background-color: #2d314d;
  -webkit-transition: -webkit-transform .2s .2s ease;
  transition: -webkit-transform .2s .2s ease;
  transition: transform .2s .2s ease;
  transition: transform .2s .2s ease, -webkit-transform .2s .2s ease;
}

.hamburger__icon::after {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburger__icon::before {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

@-webkit-keyframes glow {
  to {
    background-position: 300%;
  }
}

@keyframes glow {
  to {
    background-position: 300%;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.social__item svg {
  fill: white;
}

.social__item--facebook:hover svg path {
  fill: #3b5998;
}

.social__item--youtube:hover svg path {
  fill: #cd201f;
}

.social__item--twitter:hover svg path {
  fill: #55acee;
}

.social__item--pinterest:hover svg path {
  fill: #3b5998;
}

.social__item--instagram:hover svg path {
  fill: #DD4B39;
}

.header {
  position: relative;
}

.header__container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.header--active {
  z-index: 2;
}

.menu__item {
  margin: 0 1.25rem;
}

.menu__link {
  color: #9698a6;
  padding: 0.1rem 0.5rem;
}

.menu__link:hover {
  border-bottom: 2px solid transparent;
  -o-border-image: linear-gradient(90deg, #31d35c, #2bb7da, #31d35c);
     border-image: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(#2bb7da), to(#31d35c));
     border-image: linear-gradient(90deg, #31d35c, #2bb7da, #31d35c);
  border-image-slice: 1;
}

.mobile-menu {
  background-color: white;
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.mobile-menu ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu li {
  padding: 1rem;
}

.mobile-menu a {
  font-weight: 400;
  color: #2d314d;
}

.hero {
  text-align: center;
  background-color: #fafafa;
}

.hero__img {
  min-height: 24.5rem;
  position: relative;
  width: 100%;
}

@media (min-width: 64em) {
  .hero__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-height: 41.25rem;
  }
}

.hero__img::before, .hero__img::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  display: block;
}

.hero__img::before {
  background-image: url("/images/bg-intro-mobile.svg");
  background-position: center top;
  background-size: cover;
}

@media (min-width: 64em) {
  .hero__img::before {
    width: 150%;
    height: 110%;
    background-image: url("/images/bg-intro-desktop.svg");
    background-position: left bottom;
    background-size: 150%;
  }
}

.hero__img::after {
  background-image: url("/images/image-mockups.png");
  background-position: center bottom;
  background-size: 90%;
}

@media (min-width: 40em) {
  .hero__img::after {
    background-size: 50%;
    background-position: center center;
  }
}

@media (min-width: 64em) {
  .hero__img::after {
    width: 120%;
    height: 122%;
    background-size: 105%;
    background-position: center -48px;
    left: 20%;
  }
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.hero__button {
  margin-top: 2.25rem;
}

.feature {
  text-align: center;
  background-color: #f3f4f6;
}

@media (min-width: 64em) {
  .feature {
    text-align: left;
  }
}

.feature__item {
  margin-top: 2rem;
}

.feature__item p {
  font-size: 1rem;
}

.articles {
  background-color: #fafafa;
}

.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.article__item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.article__text {
  padding: 1.75rem;
}

.article__text p {
  font-size: 0.875rem;
  color: #9698a6;
}

.article__text span {
  text-align: left;
  color: #9698a6;
  font-size: 0.75rem;
}

.article__image {
  height: 12.5rem;
  background-repeat: no-repeat;
}

.footer {
  background-color: #2d314d;
}

.footer__wrapper {
  text-align: center;
}

@media (min-width: 64em) {
  .footer__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "logo menu button" "social menu copyright";
    justify-items: start;
    text-align: left;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__social {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin: 0;
  }
}

.footer__social a {
  padding: 0.375rem;
}

.footer__social a svg {
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.footer__social a svg:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (min-width: 64em) {
  .footer__menu {
    grid-area: menu;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: end;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

.footer__menu li {
  padding: 0.375rem;
}

@media (min-width: 64em) {
  .footer__menu li {
    margin-bottom: 0.475rem;
  }
}

.footer__menu a {
  color: white;
}

.footer__menu a:hover {
  color: #31d35c;
}

.footer__button {
  margin: 2rem 0;
}

@media (min-width: 64em) {
  .footer__button {
    grid-area: button;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 40em) {
  .footer__copyright {
    grid-area: copyright;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=style.css.map */